body{
    color: #111111

}
body{
    background-color: #111111
}
h1{
    color: #e2e80f
}
h1{
    text-align: center
}
h1{
    font-size: 50px

}
p{
    color: #eeeeee}
p
    {font-size: 20px}

p

{line-height: 30px}

.credits{
    color: #49daff
}
